@import '../../styles/variables.scss';

.skills {
  margin-top: 20px;

  h2 {
    margin-left: 20px;
    font-weight: 400;
  }

  ul {
    margin-top: 5px;
  }

  li {
    margin-left: 20px;
    font-weight: 300;
  }
}
