@import '../../styles/variables.scss';
@import '../../styles/fonts.scss';
@import '../../styles/mixins.scss';

.about-section {
  display: none;

  @include tablet {
    display: block;
    width: 100%;
    padding: 20px;
  }

  h2 {
    @include h2-bg();
    margin-left: 20px;
  }

  p {
    margin-top: 10px;
  }
}
