@import './styles/fonts.scss';
@import './styles/variables.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Belanosima', sans-serif;
  font-weight: 400;
  min-height: 100vh;
  background-color: $color-bg-light-gray;
}

#root {
  width: 100%;
  background-color: $color-bg-light-gray;
  display: flex;
  justify-content: center;
  // min-height: 100vh;
}

a {
  color: $color-text-dark;
}
