@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.contacts {
  @include tablet {
    padding-bottom: 15px;
    border-bottom: 1px solid black;
  }

  h2 {
    margin-left: 20px;
    font-weight: 400;
  }

  li {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-top: 5px;

    a {
      color: $color-text-dark;
      text-decoration: none;
      display: flex;
      align-items: center;

      span {
        margin-left: 10px;
        font-size: 14px;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
